#flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
}

.dice{
    width: 15%;
    height: 15%;
    cursor: pointer;
}
#rollb{
    width: 40%;
    height: 20%;
    color: aqua;
}
body{
    background-color: gray;
}